@typeparam T
@inject NavigationManager Navigation
@inject IConfiguration Configuration
@inject StartEndpoint StartEndpoint
@inject LoadEndpoints loadEndpoints
@inject HttpMethodClassMapper HttpMethodClassMapper
@inject IJSRuntime jsRuntime
@inject SessionStorageService sessionService
@inject ApiStateService ApiState
@inject ExtractParameters ExtractParameters
@inject WiDocApiApikeySettings ApikeySettings


        <ApiKeyModal @ref="apiKeyModal" />
       
      
        
        @if (!string.IsNullOrEmpty(readErrorJson))
        {
             <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>Error:</strong> @readErrorJson
                    </div>
                </div>
             </div>
        }




        <div class="row mb-3">
            @if (IsValidApiKeyConfigured())
            {
                <div class="col-md-12 text-end">
                    @if (isValid)
                    {
                        <button class="btn btn-secondary" @onclick="() => apiKeyModal.Show()">Authorize  <i class="bi bi-lock"></i></button>
                    }
                    else
                    {
                        <button class="btn btn-secondary" @onclick="() => apiKeyModal.Show()">Authorize <i class="bi bi-unlock"></i></button>
                    }
                </div>
            }
            <div class="col-md-12">
        <h3 class="mb-4">@titlePage</h3>
        <h5>@descriptionPage</h5>
                    @foreach (var group in groupedEndpoints)
                    {
                        <WiDocApi_Blazor.Components.ApiEndpointAccordion T="T"
                                              Endpoints="group.Endpoints"
                                              groupName="@group.GroupName"
                                              checkApiKey="checkApiKey"
                                              isLoading="isLoading"
                                              StartApi="StartApi"
                                              IsValidApiKeyConfigured="IsValidApiKeyConfigured" />
                    }

                
            </div>
        </div>
            <div class="row mb-3">
                <div class="col-md-12">
                      <WiDocApi_Blazor.Components.ModelAccordion T="T" classModels="classModels" />
              </div>
        </div>

@code {

    [Parameter]
    public List<T>? classModels { get; set; } = new();
    [Parameter]
    public string jsonFilePath { get; set; } = "ApiEndpoints.json";
    [Parameter]
    public string titlePage { get; set; } = "API Documentation";
    [Parameter]
    public string? descriptionPage { get; set; } = "This documentation provides information about the available API endpoints. You can try them out directly from this page";



    private List<GroupedApiEndpoints> groupedEndpoints = new List<GroupedApiEndpoints>();
    private bool isValid { get; set; } = true;
    private ApiKeyModal? apiKeyModal;
    private string baseUrl => string.IsNullOrEmpty(Configuration["ApiSettings:BaseUrl"])  ? Navigation.BaseUri.TrimEnd('/') : Configuration["ApiSettings:BaseUrl"]!.TrimEnd('/');
    private string readErrorJson = string.Empty;
    private bool checkApiKey = false;
    private List<ApiEndpoint> Endpoints { get; set; } = new();
    private bool isLoading = false;


    private bool IsValidApiKeyConfigured()
    {
        var apiKey = ApikeySettings.ApiKey;
      
        return !string.IsNullOrEmpty(apiKey);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
      
            ApiState.ApiKeyExists = await apicheck();
            checkApiKey = ApiState.ApiKeyExists;
            isValid = checkApiKey;
            StateHasChanged();

       
    }

    protected override async Task OnInitializedAsync()
    {
        
       
       
        var endpointInfos = RouteHandlerBuilderExtensions.WiDocApiStorage.WiDocApiList;
        if (RouteHandlerBuilderExtensions.WiDocApiStorage.WiDocApiList.Count >= 1)
        {
            Endpoints = endpointInfos.ToList();
        }
        else
        {
            var resultend = await loadEndpoints.LoadEndpointsFromJsonFile(baseUrl, jsonFilePath).ConfigureAwait(false);
            Endpoints = resultend.endpoints;
            readErrorJson = resultend.messages;
        }


        groupedEndpoints = Endpoints.GroupBy(e => e.Group).Select(g => new GroupedApiEndpoints
                                               {
                                                   GroupName = g.Key,
                                                   Endpoints = g.ToList()
                                               }).ToList();

        foreach (var endpoint in Endpoints)
        {
           
                ExtractParameters.InitializeDynamicInputValues(endpoint);
            
        }

    }

    private  async Task<bool>  apicheck() {
    
        return  await sessionService.ApiKeyExists();
    }

    private async Task StartApi(ApiEndpoint endpoint)
    {
        isLoading= true;
        if (IsValidApiKeyConfigured())
        {
            var exist = await sessionService.ApiKeyExists();

            if (!exist)
            {
                endpoint.ApiResponse = "Sorry for using this API, you need a key!";
                isLoading = false;
                return;
            }
        
        
        
        }
      
        if (endpoint.RequiresInput)
        {
            // Check if all required input values are provided
            foreach (var param in ExtractParameters.FromPath(endpoint.Path!))
            {
                // Cast the value to string (if it exists) for the null or empty check
                if (endpoint.DynamicInputValues.TryGetValue(param.ParameterName, out var value) && value is string stringValue)
                {
                    if (string.IsNullOrEmpty(stringValue))
                    {
                        endpoint.ApiResponse = $"Input required for '{param.ParameterName}' but not provided.";
                        isLoading = false;
                        return;
                    }
                }
                else
                {
                    // Handle case where parameter is missing or not a string
                    endpoint.ApiResponse = $"Input required for '{param.ParameterName}' but not provided.";
                    isLoading = false;
                    return;
                }
            }
        }

        await StartEndpoint.TryEndpoint(endpoint, baseUrl).ConfigureAwait(false);
        endpoint.Curl = ExtractParameters.CreateCurl(endpoint, IsValidApiKeyConfigured(), ApikeySettings!.ApiKey!);
       
        isLoading = false;
        
    }

}

